<div>
  <h3>
    Inline Editing
    <small>
      <a
        href="https://github.com/swimlane/ngx-datatable/blob/master/src/app/basic/inline.component.ts"
        target="_blank"
      >
        Source
      </a>
    </small>
  </h3>
  <ngx-datatable
    #mydatatable
    class="material"
    headerHeight="50"
    [limit]="20"
    [columnMode]="ColumnMode.force"
    footerHeight="50"
    rowHeight="50"
    [rows]="rows"
  >
    <ngx-datatable-column name="Code">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span
          title="Double click to edit"
          (dblclick)="editing[rowIndex + '-name'] = true"
          *ngIf="!editing[rowIndex + '-name']"
        >
          {{ row.Code }}
        </span>
        <input
          autofocus
          (blur)="updateValue($event, 'name', rowIndex)"
          *ngIf="editing[rowIndex + '-name']"
          type="text"
          [value]="row.Code"
        />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Name">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
        <span
          title="Double click to edit"
          (dblclick)="editing[rowIndex + '-gender'] = true"
          *ngIf="!editing[rowIndex + '-gender']"
        >
          {{ row.Name }}
        </span>
        <select
          *ngIf="editing[rowIndex + '-gender']"
          (blur)="editing[rowIndex + '-gender'] = false"
          (change)="updateValue($event, 'gender', rowIndex)"
          [value]="row.Name"
        >
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Phone">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        {{ row.Phone }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Email">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        {{ row.Email }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Address">
      <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
        {{ row.Address }}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
