<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formArrayName="array">
    <div *ngFor="let formItem of array.controls; let i = index">
      <nb-card>
        <nb-card-header>
          <nav>
            Cập nhật menu
            <button nbButton status="danger" hero size="tiny" (click)="removeFormItem(i)" style="float: right;">
              <nb-icon pack="eva" icon="close-circle-outline"></nb-icon>
            </button>
            <button nbButton status="info" hero size="tiny" (click)="goback()" style="float: right;">
              <nb-icon pack="eva" icon="arrow-back"></nb-icon>
            </button>
          </nav>
        </nb-card-header>
        <nb-card-body>
          <div [formGroup]="formItem">
            <div class="row">
              <input type="hidden" formControlName="Code_old">
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="label">Menu cha <nb-icon (click)="copyFormControlValueToOthers(i, 'Parent')" pack="eva"
                      icon="copy-outline"></nb-icon></label>
                  <ngx-select2 [data]="parentList" formControlName="Parent" [select2Option]="select2OptionForParent">
                  </ngx-select2>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="label">Mã định danh</label>
                  <input type="text" nbInput fullWidth formControlName="Code" placeholder="Mã định danh">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">Tiêu đề</label>
                  <input type="text" nbInput fullWidth formControlName="Title" placeholder="Tiêu đề">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="label">Icon</label>
                  <input type="text" nbInput fullWidth formControlName="Icon" placeholder="Icon">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="label">Group</label>
                  <input type="text" nbInput fullWidth formControlName="Group" placeholder="Group">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">Link</label>
                  <input type="email" nbInput fullWidth formControlName="Link" placeholder="Link">
                </div>
              </div>
            </div>
            <div class="buttons-row" style="text-align: right;">
              <button nbButton status="warning" (click)="addFormItem($event)" hero>Thêm menu</button>
              <button nbButton status="info" hero>Xem trước</button>
              <button nbButton status="success" [disabled]="!form.valid" hero>Lưu menu</button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</form>
