[name="ToMoney"] [formcontrolname="ToMoney"],
[name="Description"] [formcontrolname="Description"]{
    border-right: 4px solid var(--secondary);
}

[name="Note"] .scrollable-container {
    height: 10rem;
}
[name="SubNote"] .scrollable-container {
    height: 5rem;
}
[name="Description"] .scrollable-container {
    height: 2.5rem;
}
.label-with-border-below {
    // line-height: 0;
    margin-bottom: 0.5rem;
}
nb-card nb-tabset nb-tab {
    padding-left: 9px !important;
    padding-right: 9px !important;
}