.pos * {
  // font-size: 1rem;
}
.pos-wrap {
  height: calc(100vh - 7.4rem) !important;
  nb-card {
    margin-bottom: 0;
    height: 100%;
  }
  &.is-fullscreen {
    height: calc(100vh - 7.4rem) !important;
  }
}
.pos {
  input {
    color: inherit !important;
  }
  .pos-info {
    padding: 0.5rem;
    font-weight: bold;
    line-height: 0.9rem;
    font-size: 0.7rem;
  }
  .control-wrap {
    font-size: 0.6rem;
    font-weight: bold;
    line-height: 0.7rem;
  }
  .pos-header {
    background-color: var(--ck-color-base-background);
    border-bottom: var(--ck-color-base-border) 1px solid;
  }
  .control-wrap {
    border-left: var(--ck-color-base-border) 1px solid;
  }
  //   overflow: auto;
  //   max-width: initial;
  //   margin: initial;
  .pos-business-button {
    // height: 70px !important;
    margin-bottom: 1rem;
    flex-direction: column;
    nb-icon {
      margin-right: initial !important;
      margin-bottom: 0.15rem;
    }
    .button-label {
      text-transform: none !important;
    }
  }
  .pos-order-detail {
    // max-height: 370px;
    overflow: auto;
    max-width: initial;
    margin: initial;
    border-bottom: var(--ck-color-base-border) 1px solid;
    table {
      border-left: var(--ck-color-base-border) 1px solid;
      border-top: var(--ck-color-base-border) 1px solid;
      td {
        border-right: var(--ck-color-base-border) 1px solid;
        border-bottom: var(--ck-color-base-border) 1px solid;
        vertical-align: top;
        img {
          width: 11rem;
          border-radius: 1rem;
        }
      }
    }
    .pos-quantity {
      text-align: right;
      font-size: 2rem;
      font-weight: bold;
    }
    .pos-price {
      font-weight: bold;
      font-size: 2rem;
      white-space: nowrap;
    }
    .pos-discount {
      line-height: 3rem;
    }
    .pos-tomoney {
      font-weight: bold;
      font-size: 2rem;
      white-space: nowrap;
      line-height: 3rem;
    }
    .pos-access-numbers {
      font-weight: bold;
      line-height: 1rem;
      padding: 0.5rem;
    }
    .pos-unit {
      white-space: nowrap;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-size: 1.6rem;
      line-height: 3.7rem;
    }
  }
  .pos-order-summary {
    padding: 1rem;
    padding-bottom: 0;
  }
  .pos-field {
    .pos-field-label {
      white-space: nowrap;
      // padding-right: 1rem;
      font-weight: bold;
      // width: 200px;
      // text-align: right;
      font-size: 1.5rem;
      line-height: 2.8rem;
    }
    .pos-field-control {
    }
  }
}
.scrollable-container {
  max-width: initial;
  margin: initial;
}

.pos-business {
  width: 8.7rem;
  border-left: var(--ck-color-base-border) 1px solid;
}
.pos-status {
  border-top: var(--ck-color-base-border) 1px solid;
  padding-right: 1rem;
  font-weight: bold;
  font-size: 12px;
}

@media (min-width: 1600px) {
  .pos-business {
    width: 400px;
  }
}
