@import '../../../../../../../assets/style/print.css';
@import '../../../../../../@theme/styles/themes';

@include nb-install-component() {
    #print-area {
        // border: 1px solid nb-theme(color-basic-transparent-focus-border) !important;
        // border: 1px solid #ccc !important;
        // border-radius: 0.5rem;
        overflow: hidden;
    }

    .border-area {
        border: 1px solid nb-theme(color-basic-transparent-focus-border) !important;
    }

    .print-voucher-detail-header {
        th {
            text-decoration: underline !important;
        }
    }

    table {
        border: none !important;
    }

    table {
        th, td {
            // border-bottom: 1px solid nb-theme(color-basic-transparent-focus-border) !important;
            padding: 0.2rem !important;
        }
    }

    // #print-area .under-line {
    //     border-bottom: 1px solid nb-theme(background-basic-color-4) !important;
    //     padding: 0.2rem;
    // }
}