<div class="row">
  <div class="col-sm-4">
    <nb-card style="min-height: 100%;">
      <nb-card-header>
        <input #userTreeFilter (keyup)="treeFilter(userTreeFilter.value, userTreeEle)" type="text" nbInput fullWidth
          placeholder="Tìm kiếm nhóm > người dùng">
      </nb-card-header>
      <nb-card-body>
        <tree-root #userTreeEle [nodes]="userGroups" [options]="options" (activate)="onUserTreeNodeForce($event)"
          [(state)]="userTreeState"></tree-root>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-4">
    <nb-card style="min-height: 100%;">
      <nb-card-header>
        <input #menuTreeFilter (keyup)="treeFilter(menuTreeFilter.value, menuTreeEle)" type="text" nbInput fullWidth
          placeholder="Tìm kiếm menu">
      </nb-card-header>
      <nb-card-body>
        <tree-root #menuTreeEle [nodes]="menuTree" [options]="options" (activate)="onMenuTreeNodeForce($event)"
          [(state)]="menuTreeState"></tree-root>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-4">
    <nb-card style="min-height: 100%;">
      <nb-card-header>
        <button nbButton (click)="onPermissionUpdateButtonClick()" status="success" [disabled]="!allowUpdatePermission"
          style="width: 50%;
          margin: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;" fullwidth hero>Cập nhật</button>
        <button nbButton (click)="onPermissionResetButtonClick()" status="danger" [disabled]="!allowResetPermission"
          style="width: 50%;
          margin: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;" fullwidth hero>Đặt lại</button>
      </nb-card-header>
      <nb-card-body>
        <div [formGroup]="permissionForm"></div>
        <div class="form-group" *ngFor="let pms of permissionFormArray.controls; let i = index" [formGroup]="pms">
          <!-- <label>{{pms.Description}}</label> -->
          <input type="hidden" formControlName="Permission">
          <input type="hidden" formControlName="Description">
          <nb-checkbox (checkedChange)="onPermissionChange($event)" formControlName="Status">
            {{pms.get('Description').value}}</nb-checkbox>
        </div>
        <hr>
        <h5>Hướng dẫn phân quyền</h5>
        <p>
          - Hệ thống hướng tới <strong>phân quyền theo nhóm người dùng</strong>, khi nhóm có quyền trên một menu nào đó
          thì tất cả người dùng đều có quyền tương ứng.<br>
          - Khi bạn không kiểm soát được các quyền đã gán bạn có thể dùng chức đăng <strong>Đặt Lại</strong> để trả lại
          quyền trên mỗi người dùng hoặc trên toàn bộ nhóm.
          - Quyền xem danh sách : chỉ cho phép người dùng thấy được danh sách trong các hộp chọn có liên quan.
        </p>
      </nb-card-body>
    </nb-card>
  </div>
</div>
