nb-card {
  width: 100%;
}
@media (min-width: 768px) {
  nb-card {
    width: 28rem;
  }
}
.logo {
  margin: 0 auto;
}

nb-card {
  margin: 0 auto;
}
.sub-title {
  font-weight: bold;
  font-size: 1rem;
  color: #4ac4f3;
}
.qrcode {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}
.qrcode.expried {
  opacity: 0.5;
}
