[name="ToMoney"] [formcontrolname="ToMoney"],
[name="Description"] [formcontrolname="Description"]{
  border-right: 4px solid var(--danger);
}
[name="ToMoney"] [formcontrolname="ToMoney"],
[name="Description"] [formcontrolname="Description"]{
  border-right: 4px solid var(--danger);
  &.imported {
      border-right: 4px solid var(--success);
  }
}

[name="Note"] .scrollable-container {
    height: 10rem;
}
[name="SubNote"] .scrollable-container {
    height: 5rem;
}
[name="Description"] .scrollable-container {
    height: 2.5rem;
}

.dashed-radius-border {
    border: #8c8c8c21 1px dashed;
    border-radius: 0.4rem;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.label-with-border-below {
    line-height: 0;
}
nb-card nb-tabset nb-tab {
    padding-left: 9px !important;
    padding-right: 9px !important;
}

#print-area{
    width: 22cm !important;
}