<form class="popup">
  <nb-card class="small-header popup">
    <nb-card-header>
      <ngx-card-header [size]="size" [icon]="favicon" [title]="title ? title : ('Warehouse.GoodsContainer.title' | translate:{definition: '', action: cms.translate.instant('Common.assign')} | headtitlecase)" [controls]="actionButtonList"></ngx-card-header>

      <!-- <nav>
        {{'AdminProduct.assignCategories' | translate | headtitlecase}}
        <button nbButton status="warning" hero size="tiny" style="float: right;" title="Đóng" (click)="close()">
          <nb-icon pack="eva" icon="close"></nb-icon>
        </button>
      </nav> -->
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="label"><span class="valid">{{'Warehouse.GoodsContainer.title' | translate:{action:'',definition: ''} | headtitlecase}}</span>
            </label>
            <ngx-select2 [formControl]="containersFormControl" [select2Option]="select2OptionForGoodsContainers" [data]="goodsContainerList">
            </ngx-select2>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <div class="buttons-row" style="text-align: right;">
        <button nbButton status="warning" hero>{{'Common.close' | translate | headtitlecase}}</button>
        <button type="button" nbButton status="primary" [disabled]="!containersFormControl.value || processing" hero
          (click)="assignCategories()">{{containersFormControl.value && containersFormControl.value.length > 0 && 'Gán' || 'Tạo mới và gán' | translate | headtitlecase}}</button>
        <button type="button" nbButton status="danger" [disabled]="!containersFormControl.value || processing" hero
          (click)="revokeCategories()">{{'Common.revoke' | translate | headtitlecase}}</button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
