<nb-card id="helpdeskDashboard" class="small-header helpdesk-dashoard">
  <nb-card-header id="helpdeskHeader">
    <nav>
      <nb-icon icon="chatbox-working" pack="ion"></nb-icon> Yêu cầu mới
      <ngx-action-control-list style="float: right;" [list]="actionControlList"></ngx-action-control-list>
    </nav>
  </nb-card-header>
  <nb-card-body>
    <div class="m-list" nbInfiniteList listenWindowScroll [threshold]="500"
      (bottomThreshold)="loadNext(infiniteLoadModel)">
      <div class="row m-list-item" [class.active]="item.selected" *ngFor="let item of infiniteLoadModel.tickets"
        [style.color]="'darkslategray'" (click)="selectOne($event, item)">
        <div class="col-md-4 m-list-item-property">
          <div class="caption">Thông tin chung</div>
          <div class="value">
            <nb-icon icon="person" pack="ion"></nb-icon> {{ item.Name }}
          </div>
          <div class="value">
            <nb-icon icon="ios-telephone" pack="ion"></nb-icon> {{ item.Phone }}
          </div>
        </div>
        <div class="col-md-3 m-list-item-property">
          <div class="caption">Liên hệ</div>
          <div class="value" *ngIf="!!item.Email">
            <nb-icon icon="email" pack="ion"></nb-icon> {{ item.Email }}
          </div>
          <div class="value" *ngIf="!!item.Address">
            <nb-icon icon="map" pack="ion"></nb-icon> {{ item.Address }}
          </div>
        </div>
        <div class="col-md-3 m-list-item-property">
          <div class="caption">Nhóm</div>
          <div class="value" *ngIf="!!item.Group">
            <nb-icon icon="podium" pack="ion"></nb-icon> {{ item.Name }}
          </div>
        </div>
        <div class="col-md-2 m-list-item-property">
          <div class="caption">Trạng thái</div>
          <div class="value nowrap" *ngIf="!!item.State">
            <nb-icon icon="radio-waves" pack="ion"></nb-icon> {{ item.State }}
          </div>
          <div class="value" *ngIf="!!item.DateOfCreate">
            <nb-icon icon="ios-time" pack="ion"></nb-icon> {{ item.State }}
          </div>
          <div class="value">
            <nb-icon icon="chatbubbles" pack="ion"></nb-icon> <a href="#">Chi tiết</a>
          </div>
          <div class="value">
            <nb-icon icon="android-create" pack="ion"></nb-icon> <a href="#" (click)="editItem(item.Code)">Cập nhật</a>
          </div>
        </div>
      </div>

      <div class="row m-list-item ghost" *ngFor="let _ of infiniteLoadModel.placeholders">
        <div class="col-md-4 m-list-item-property">
          <div class="caption">Thông tin chung</div>
          <div class="value">
            <nb-icon icon="document-text" pack="ion"></nb-icon> Tên
          </div>
          <div class="value">
            <nb-icon icon="ios-telephone" pack="ion"></nb-icon> Số điện thoại
          </div>
        </div>
        <div class="col-md-3 m-list-item-property">
          <div class="caption">Liên hệ</div>
          <div class="value">
            <nb-icon icon="email" pack="ion"></nb-icon> Email
          </div>
          <div class="value">
            <nb-icon icon="map" pack="ion"></nb-icon> Địa chỉ
          </div>
        </div>
        <div class="col-md-3 m-list-item-property">
          <div class="caption">Nhóm</div>
          <div class="value">
            <nb-icon icon="podium" pack="ion"></nb-icon> Nhóm
          </div>
        </div>
        <div class="col-md-2 m-list-item-property">
          <div class="caption">Trạng thái</div>
          <div class="value nowrap">
            <nb-icon icon="radio-waves" pack="ion"></nb-icon> Trạng thái
          </div>
          <div class="value">
            <nb-icon icon="ios-time" pack="ion"></nb-icon> Ngày tạo
          </div>
          <div class="value">
            <nb-icon icon="chatbubbles" pack="ion"></nb-icon> <a href="#">Chi tiết</a>
          </div>
          <div class="value">
            <nb-icon icon="android-create" pack="ion"></nb-icon> <a href="#">Cập nhật</a>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
