<nb-card class="small-header smart-table">
    <nb-card-header>
        <ngx-card-header [size]="size" [icon]="favicon" [title]="title ? title : ('Contact.List.title' | translate:{action: '', definition: commonService.translate.instant('Common.table')} | headtitlecase)" [controls]="actionButtonList"></ngx-card-header>
    </nb-card-header>

    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Liên hệ">
                <div class="ng2-smart-table-wrap">
                    <ng2-smart-table *ngIf="settings" [attr.select]="hasSelect" #table [settings]="settings" [source]="source" (delete)="delete($event)" (edit)="onEditAction($event)" (create)="onSerialAction($event)" (userRowSelect)="onUserRowSelect($event)" (rowSelect)="onRowSelect($event)">
                    </ng2-smart-table>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Đã xóa">
                <div class="ng2-smart-table-wrap">
                    <ng2-smart-table *ngIf="settings" [attr.select]="hasSelect" #table [settings]="settings" [source]="prepareRemoveSource" (delete)="delete($event)" (edit)="onEditAction($event)" (create)="onSerialAction($event)" (userRowSelect)="onUserRowSelect($event)" (rowSelect)="onRowSelect($event)">
                    </ng2-smart-table>
                </div>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
</nb-card>