<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formArrayName="array">
    <div *ngFor="let formItem of array.controls; let i = index">
      <nb-card style="max-width: 50rem;">
        <nb-card-header>
          <nav>
            Cập nhật thông tin người dùng
            <!-- <button nbButton status="danger" hero size="tiny" (click)="removeFormGroup(i)" style="float: right;" title="Xoá">
              <nb-icon pack="eva" icon="close-circle-outline"></nb-icon>
            </button> -->
            <button nbButton status="success" hero size="tiny" (click)="onFormReload()" style="float: right;" title="Tải lại">
              <nb-icon pack="eva" icon="refresh-outline"></nb-icon>
            </button>
            <button nbButton status="warning" hero size="tiny" (click)="onFormUndo()" [disabled]="!canUndo" style="float: right;" title="Hoàn tác">
              <nb-icon pack="eva" icon="undo-outline"></nb-icon>
            </button>
            <button nbButton status="info" hero size="tiny" (click)="goback()" style="float: right;" title="Trở về">
              <nb-icon pack="eva" icon="arrow-back"></nb-icon>
            </button>
          </nav>
        </nb-card-header>
        <nb-card-body>
          <div [formGroup]="formItem">
            <div class="row">
              <input type="hidden" formControlName="Owner_old">
              <!-- <input type="hidden" readonly nbInput fullWidth formControlName="Code"> -->
              <input type="hidden" readonly nbInput fullWidth formControlName="Owner">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">Tên</label>
                  <input type="text" nbInput fullWidth formControlName="Name" placeholder="Tên">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label">Diễn giải</label>
                  <input type="text" nbInput fullWidth formControlName="Description" placeholder="Diễn giải">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group" [attr.state]="formControlValidate(formItem.get('ApiUrl'), 'warning')">
                  <label class="label"><span class="valid">Api Url (*)</span><span class="invalid">Api Url: bắt buộc (*)</span></label>
                  <input type="text" nbInput fullWidth formControlName="ApiUrl" placeholder="Api Url">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group" [attr.state]="formControlValidate(formItem.get('ApiKey'), 'warning')">
                  <label class="label"><span class="valid">Api Key (*)</span><span class="invalid">Api Key: bắt buộc (*)</span></label>
                  <input type="text" nbInput fullWidth formControlName="ApiKey" placeholder="Api Key">
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="buttons-row" style="text-align: right;">
            <!-- <button nbButton status="warning" (click)="addFormGroup($event)" hero>Thêm người dùng</button> -->
            <!-- <button nbButton status="info" (click)="onPreview(i)" hero>Xem trước</button> -->
            <button nbButton status="success" [disabled]="!form.valid" hero>Cập nhật</button>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</form>
