@import "../../../../../assets/style/print.css";


@media print {
  body {
    background: #fff !important;
  }
  #print-area {
    page-break-after: initial;
  }
}
.label {
  /* padding: 5px; */
  border: 1px #000 dashed;
  float: left;
  page-break-after:always;
  width: 50mm;
  height: 30mm;
}
.bar-code {
  width: 35%;
  padding: 1px;
  border: 1px #000 solid;
  border-radius: 5px;
}
.page-break {
  clear: left;
  display:block;
  page-break-after:always;
}