<nb-card [ngStyle]="cardStyle">
  <nb-card-header>{{ title }}</nb-card-header>
  <nb-card-body>
    <div [formGroup]="formGroup" #formEle>
      <div class="row">
        <div class="col-sm-12" *ngFor="let control of controls">
          <div class="form-group">
            <label class="label"><span class="valid">{{ control.label }}</span></label>
            <input [name]="control.name" *ngIf="!control.type || control.type == 'text'" type="text" nbInput fullWidth [formControlName]="control.name" [placeholder]="control.placeholder">
            <input [name]="control.name" *ngIf="control.type == 'currency'" type="text" nbInput fullWidth [formControlName]="control.name" [placeholder]="control.placeholder" currencyMask [options]="curencyFormat">
            <textarea [name]="control.name" *ngIf="control.type == 'textarea'" nbInput fullWidth [formControlName]="control.name" [placeholder]="control.placeholder"></textarea>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button *ngFor="let item of actions" nbButton hero [status]="item?.status" (click)="dismiss(); item?.action(formGroup)">{{ item?.label }}</button>
  </nb-card-footer>
</nb-card>