<!-- <ngx-profit-card style="height: 15%;"></ngx-profit-card> -->


<ngx-quick-ticket-form *ngFor="let quickForm of quickTicketFormList; let i = index;" (onInit)="onQuickFormInit($event)"
  [phoneNumber]="quickForm.phoneNumber" [index]="quickForm.index" [ticketCode]="quickForm.ticketCode"
  [inputMode]="'inline'" (onClose)="onQuickFormClose($event)"></ngx-quick-ticket-form>
<nb-card id="helpdeskDashboard" class="small-header helpdesk-dashoard">
  <nb-card-header id="helpdeskHeader">
    <ngx-card-header [size]="size" [icon]="favicon"
      [title]="title ? title : ('Helpdesk.Ticket.title' | translate:{action: '', definition: commonService.translate.instant('Common.list')} | headtitlecase)"
      [controls]="actionButtonList"></ngx-card-header>
  </nb-card-header>
  <nb-card-body>
    <div class="m-list" nbInfiniteList listenWindowScroll [threshold]="500"
      (bottomThreshold)="loadNext(infiniteLoadModel)">
      <div class="row m-list-item" [class.active]="item.selected" *ngFor="let item of infiniteLoadModel.tickets"
        [style.color]="item.TicketStateColor" (click)="selectOne($event, item)"
        [ngStyle]="{color: item.State['Color']}">
        <div class="col-md-4 m-list-item-property">
          <div class="caption">Nội dung yêu cầu</div>
          <div class="value" *ngIf="item.Infos?.Request_Source">
            <nb-icon icon="android-exit" pack="ion"></nb-icon> Nguồn thông tin:
            {{ item.Infos.Request_Source | objectstext }}
          </div>
          <div class="value" *ngIf="item.Infos?.Customer_Groups_Matched">
            <nb-icon icon="ios-people" pack="ion"></nb-icon> Nhóm khách hàng:
            {{ item.Infos.Customer_Groups_Matched | objectstext }}
          </div>
          <!-- <div class="value" *ngIf="item.Infos?.Description">
            <nb-icon icon="document-text" pack="ion"></nb-icon> Nội dung yêu cầu: {{ item.Infos.Description }}
          </div> -->
          <div class="value" *ngIf="item?.Description">
            <nb-icon icon="document-text" pack="ion"></nb-icon> {{ item.Description }}
          </div>
          <div class="value" *ngIf="item?.LastMessage">
            <nb-icon icon="chatbox-working" pack="ion"></nb-icon> Tin nhắn: {{ item.LastMessage }}
          </div>
        </div>
        <div class="col-md-4 m-list-item-property">
          <div class="caption">{{item.Infos?.Helpdesk_Procedure | objecttext}}</div>
          <div class="value" *ngIf="item.Infos?.Helpdesk_Procedure">
            <!-- <nb-icon icon="document-text" pack="ion"></nb-icon> {{ item.Infos?.Helpdesk_Procedure | objecttext }} -->
            <ul style="list-style: decimal; padding-left: 1rem;" *ngIf="item.Infos?.Helpdesk_Procedure?.Steps">
              <li
                *ngFor="let step of item.Infos?.Helpdesk_Procedure?.Steps">{{step.Description}}</li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 m-list-item-property">
          <div class="caption">Người yêu cầu</div>
          <div class="value nowrap" *ngIf="!!item.ObjectName">
            <nb-icon icon="person" pack="ion"></nb-icon> {{ item.ObjectName }} <span *ngIf="!item.Object">(<a href="#"
                (click)="saveContact(item)">{{'Helpdesk.saveContact' | translate}}</a>)</span>
          </div>
          <div class="value nowrap" *ngIf="!!item.ObjectPhone">
            <nb-icon icon="ios-telephone" pack="ion"></nb-icon> {{ item.ObjectPhone }} (<a style="cursor: pointer;"
              href="#" (click)="phoneCall(item, item.ObjectPhone, item.ObjectName)">call</a>)
          </div>
          <div class="value nowrap" *ngIf="!!item.ObjectEmail">
            <nb-icon icon="android-mail" pack="ion"></nb-icon> {{ item.ObjectEmail }}
          </div>
          <div class="caption" *ngIf="item.Infos?.User_Group" style="margin-top: 0.5rem;">Nhân viên/Nhóm tiếp nhận</div>
          <div class="value nowrap" *ngIf="item.Infos?.User_Group">
            <nb-icon icon="android-contacts" pack="ion"></nb-icon> {{ item.Infos?.User_Group | objecttext }}
          </div>
        </div>
        <!-- <div class="col-md-3 m-list-item-property">
          <div class="caption">Công ty</div>
          <div class="value" *ngIf="!!item.ObjectName">
            <nb-icon icon="podium" pack="ion"></nb-icon> {{ item.ObjectName }}
          </div>
          <div class="value nowrap" *ngIf="!!item.ObjectPhone">
            <nb-icon icon="ios-telephone" pack="ion"></nb-icon> {{ item.ObjectPhone }}
          </div>
          <div class="value nowrap" *ngIf="!!item.ObjectEmail">
            <nb-icon icon="email" pack="ion"></nb-icon> {{ item.ObjectEmail }}
          </div>
          <div class="value" *ngIf="!!item.ObjectAddress">
            <nb-icon icon="map" pack="ion"></nb-icon> {{ item.ObjectAddress }}
          </div>
        </div> -->
        <div class="col-md-2 m-list-item-property">
          <div class="caption">Trạng thái</div>
          <div class="value nowrap state" *ngIf="!!item?.State['Code']">
            <nb-icon [icon]="item.State['Icon'].split('.')[1]" [pack]="item.State['Icon'].split('.')[0]"></nb-icon>
            {{ item.State['Name'] }} (<a href="#"
              (click)="previewState(item)">{{'Common.change' | translate | headtitlecase}}</a>)
          </div>
          <div class="value" *ngIf="!!item.DateOfCreate">
            <nb-icon icon="ios-time" pack="ion"></nb-icon> {{ item.DateOfCreate }}
          </div>
          <div class="value state">
            <nb-icon icon="chatbubbles" pack="ion"></nb-icon> <a href="#" (click)="openChatRoom(item.ChatRoom)">Phòng
              chat</a>
          </div>
          <div class="value state">
            <nb-icon icon="android-create" pack="ion"></nb-icon> <a href="#" (click)="editItem(item.Code)">Chỉnh sửa</a>
          </div>
          <div class="value nowrap">
            <nb-icon icon="share" pack="ion"></nb-icon>
            <a href="#" (click)="openAssignCategoiesDialog(item)">{{ 'Common.share' | translate | headtitlecase }}</a>
          </div>
        </div>
      </div>

      <div class="row m-list-item ghost" *ngFor="let _ of infiniteLoadModel.placeholders">
        <div class="col-md-4 m-list-item-property">
          <div class="caption">Nội dung yêu cầu</div>
          <div class="value">
            <nb-icon icon="document-text" pack="ion"></nb-icon> Mô tả...
          </div>
          <div class="value">
            <nb-icon icon="chatbox-working" pack="ion"></nb-icon> Tin nhắn...
          </div>
        </div>
        <div class="col-md-4 m-list-item-property">
          <div class="caption">Quy trình tiếp nhận</div>
          <div class="value nowrap">
            <nb-icon icon="text" pack="ion"></nb-icon> Các bước thực hiện...
          </div>
          <div class="value nowrap">
            <nb-icon icon="text" pack="ion"></nb-icon> Các bước thực hiện...
          </div>
          <div class="value nowrap">
            <nb-icon icon="text" pack="ion"></nb-icon> Các bước thực hiện...
          </div>
        </div>
        <div class="col-md-2 m-list-item-property">
          <div class="caption">Người yêu cầu</div>
          <div class="value nowrap">
            <nb-icon icon="person" pack="ion"></nb-icon> Tên...
          </div>
          <div class="value nowrap">
            <nb-icon icon="ios-telephone" pack="ion"></nb-icon> Số điện thoại...
          </div>
          <div class="value nowrap">
            <nb-icon icon="email" pack="ion"></nb-icon> Email...
          </div>
        </div>
        <!-- <div class="col-md-3 m-list-item-property">
          <div class="caption">Công ty</div>
          <div class="value">
            <nb-icon icon="podium" pack="ion"></nb-icon>
          </div>
          <div class="value nowrap">
            <nb-icon icon="ios-telephone" pack="ion"></nb-icon>
          </div>
          <div class="value nowrap">
            <nb-icon icon="email" pack="ion"></nb-icon>
          </div>
          <div class="value">
            <nb-icon icon="map" pack="ion"></nb-icon>
          </div>
        </div> -->
        <div class="col-md-2 m-list-item-property">
          <div class="caption">Trạng thái</div>
          <div class="value nowrap">
            <nb-icon icon="radio-waves" pack="ion"></nb-icon> Trạng thái...
          </div>
          <div class="value">
            <nb-icon icon="chatbubbles" pack="ion"></nb-icon> Phòng chat...
          </div>
          <div class="value">
            <nb-icon icon="android-create" pack="ion"></nb-icon> Chỉnh sửa...
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
