<!-- <ngx-profit-card style="height: 15%;"></ngx-profit-card> -->


<ngx-quick-ticket-form *ngFor="let quickForm of quickTicketFormList; let i = index;" (onInit)="onQuickFormInit($event)"
  [phoneNumber]="quickForm.phoneNumber" [index]="quickForm.index" #quickTicketForm [inputMode]="'inline'"
  (onClose)="onQuickFormClose($event)"></ngx-quick-ticket-form>

<div class="row" *ngIf="!showQuickForm">
  <div id="trafficeChart" class="col-12 col-md-6">
    <nb-card size="tiny" style="height: 8rem">
      <ngx-stats-card-front></ngx-stats-card-front>
      <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon"></nb-icon> -->
    </nb-card>
  </div>
  <div class="col-12 col-md-6">
    <nb-card size="tiny" style="height: 8rem">
      <ngx-stats-card-back></ngx-stats-card-back>
      <!-- <nb-icon icon="chevron-right-outline" pack="eva" class="flip-icon"></nb-icon> -->
    </nb-card>
  </div>
</div>

<nb-card id="helpdeskDashboard" class="small-header helpdesk-dashoard">
  <nb-card-header id="helpdeskHeader">
    <nav>
      <nb-icon icon="chatbox-working" pack="ion"></nb-icon> Yêu cầu mới
      <ngx-action-control-list style="float: right;" [list]="actionControlList"></ngx-action-control-list>
      <!-- <div class="action-list" style="float: right;">
        <ng-template ngFor let-actionBtn [ngForOf]="actionControlList" let-i="index">
          <button class="action-list-item" *ngIf="actionBtn.type == 'button'" nbButton [status]="actionBtn.status" hero [size]="actionBtn.size"
            [disabled]="actionBtn.disabled()" [title]="actionBtn.title" (click)="actionBtn.click()">
            <nb-icon pack="eva" [icon]="actionBtn.icon"></nb-icon><span
              *ngIf="!!actionBtn.label">{{actionBtn.label}}</span>
          </button>
          <input class="action-list-item" *ngIf="actionBtn.type == 'text'" nbInput type="text" [size]="actionBtn.size"
            [status]="actionBtn.status" [disabled]="actionBtn.disabled()" [placeholder]="actionBtn.title"
            (change)="actionBtn.change()">
        </ng-template>
      </div> -->
    </nav>
  </nb-card-header>
  <nb-card-body>
    <div class="m-list" nbInfiniteList listenWindowScroll [threshold]="500"
      (bottomThreshold)="loadNext(infiniteLoadModel)">
      <div class="row m-list-item" [class.active]="item.selected" *ngFor="let item of infiniteLoadModel.tickets"
        [style.color]="item.TicketStateColor" (click)="selectOne($event, item)">
        <div class="col-md-4 m-list-item-property">
          <div class="caption">Nội dung yêu cầu</div>
          <div class="value">
            <nb-icon icon="document-text" pack="ion"></nb-icon> {{ item.Description }}
          </div>
          <div class="value">
            <nb-icon icon="chatbox-working" pack="ion"></nb-icon> Tin nhắn {{ item.LastMessage }}
          </div>
        </div>
        <div class="col-md-2 m-list-item-property">
          <div class="caption">Người yêu cầu</div>
          <div class="value nowrap" *ngIf="!!item.SupportedPersonPhone">
            <nb-icon icon="person" pack="ion"></nb-icon> {{ item.SupportedPersonName }}
          </div>
          <div class="value nowrap" *ngIf="!!item.SupportedPersonPhone">
            <nb-icon icon="ios-telephone" pack="ion"></nb-icon> {{ item.SupportedPersonPhone }}
          </div>
          <div class="value nowrap" *ngIf="!!item.SupportedPersonEmail">
            <nb-icon icon="email" pack="ion"></nb-icon> {{ item.SupportedPersonEmail }}
          </div>
        </div>
        <div class="col-md-4 m-list-item-property">
          <div class="caption">Công ty</div>
          <div class="value" *ngIf="!!item.OrganizationName">
            <nb-icon icon="podium" pack="ion"></nb-icon> {{ item.OrganizationName }}
          </div>
          <div class="value nowrap" *ngIf="!!item.OrganizationPhone">
            <nb-icon icon="ios-telephone" pack="ion"></nb-icon> {{ item.OrganizationPhone }}
          </div>
          <div class="value nowrap" *ngIf="!!item.OrganizationEmail">
            <nb-icon icon="email" pack="ion"></nb-icon> {{ item.OrganizationEmail }}
          </div>
          <div class="value" *ngIf="!!item.OrganizationAddress">
            <nb-icon icon="map" pack="ion"></nb-icon> {{ item.OrganizationAddress }}
          </div>
        </div>
        <div class="col-md-2 m-list-item-property">
          <div class="caption">Trạng thái</div>
          <div class="value nowrap" *ngIf="!!item.State">
            <nb-icon icon="radio-waves" pack="ion"></nb-icon> {{ item.TicketStateLabel }}
          </div>
          <div class="value" *ngIf="!!item.DateOfCreate">
            <nb-icon icon="ios-time" pack="ion"></nb-icon> {{ item.DateOfCreate }}
          </div>
        </div>
      </div>

      <div class="row m-list-item ghost" *ngFor="let _ of infiniteLoadModel.placeholders">
        <div class="col-md-4 m-list-item-property">
          <div class="caption">Nội dung yêu cầu</div>
          <div class="value">
            <nb-icon icon="document-text" pack="ion"></nb-icon>
          </div>
          <div class="value">
            <nb-icon icon="chatbox-working" pack="ion"></nb-icon>
          </div>
        </div>
        <div class="col-md-2 m-list-item-property">
          <div class="caption">Người yêu cầu</div>
          <div class="value nowrap">
            <nb-icon icon="person" pack="ion"></nb-icon>
          </div>
          <div class="value nowrap">
            <nb-icon icon="ios-telephone" pack="ion"></nb-icon>
          </div>
          <div class="value nowrap">
            <nb-icon icon="email" pack="ion"></nb-icon>
          </div>
        </div>
        <div class="col-md-4 m-list-item-property">
          <div class="caption">Công ty</div>
          <div class="value">
            <nb-icon icon="podium" pack="ion"></nb-icon>
          </div>
          <div class="value nowrap">
            <nb-icon icon="ios-telephone" pack="ion"></nb-icon>
          </div>
          <div class="value nowrap">
            <nb-icon icon="email" pack="ion"></nb-icon>
          </div>
          <div class="value">
            <nb-icon icon="map" pack="ion"></nb-icon>
          </div>
        </div>
        <div class="col-md-2 m-list-item-property">
          <div class="caption">Trạng thái</div>
          <div class="value nowrap">
            <nb-icon icon="radio-waves" pack="ion"></nb-icon>
          </div>
          <div class="value">
            <nb-icon icon="ios-time" pack="ion"></nb-icon>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
