<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div formArrayName="array">
    <div *ngFor="let formItem of array.controls; let i = index">
      <nb-card class="small-header">
        <nb-card-header>
          <nav>
            Cập nhật số nội bộ
            <button nbButton status="danger" hero size="tiny" (click)="removeFormGroup(i)" style="float: right;"
              title="Xoá">
              <nb-icon pack="eva" icon="close-circle-outline"></nb-icon>
            </button>
            <button nbButton status="success" hero size="tiny" (click)="onFormReload()" style="float: right;"
              title="Tải lại">
              <nb-icon pack="eva" icon="refresh-outline"></nb-icon>
            </button>
            <button nbButton status="warning" hero size="tiny" (click)="onFormUndo()" [disabled]="!canUndo"
              style="float: right;" title="Hoàn tác">
              <nb-icon pack="eva" icon="undo-outline"></nb-icon>
            </button>
            <button nbButton status="info" hero size="tiny" (click)="goback()" style="float: right;" title="Trở về">
              <nb-icon pack="eva" icon="arrow-back"></nb-icon>
            </button>
          </nav>
        </nb-card-header>
        <nb-card-body>
          <div [formGroup]="formItem">
            <div class="row">
              <input type="hidden" formControlName="extension_uuid">
              <div class="col-sm-4">
                <div class="form-group" [attr.state]="formControlValidate(formItem.get('extension'), 'warning')">
                  <label class="label"><span class="valid">Số nội bộ (*)</span><span class="invalid">Số nội bộ là bắt
                      buộc (*)</span></label>
                  <input type="text" [tabindex]="i*10 + 1" nbInput fullWidth formControlName="extension"
                    placeholder="Số nội bộ (Ext)">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="label"><span class="valid">Nhóm</span> <nb-icon (click)="copyFormControlValueToOthers(array, i, 'call_group')" pack="eva" icon="copy-outline"></nb-icon></label>
                  <input [tabindex]="i*10 + 4" type="text" nbInput fullWidth formControlName="call_group" placeholder="Nhóm">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="label"><span class="valid">Thời gian đỗ chuông</span> <nb-icon (click)="copyFormControlValueToOthers(array, i, 'call_timeout')" pack="eva" icon="copy-outline"></nb-icon></label>
                  <input [tabindex]="i*10 + 5" type="text" nbInput fullWidth formControlName="call_timeout"
                    placeholder="Thời gian đỗ chuông">
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group" [attr.state]="formControlValidate(formItem.get('enabled'), 'warning')">
                  <label class="label"><span class="valid">Kích hoạt (*)</span><span class="invalid"></span> <nb-icon (click)="copyFormControlValueToOthers(array, i, 'enabled')" pack="eva" icon="copy-outline"></nb-icon></label>
                  <nb-checkbox [tabindex]="i*10 + 6" formControlName="enabled">Kích hoạt</nb-checkbox>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label class="label"><span class="valid">Mật khẩu</span></label>
                  <input type="text" [tabindex]="i*10 + 2" nbInput fullWidth formControlName="password"
                    placeholder="Bỏ trống để tạo mật khẩu ngẫu nhiên">
                </div>
              </div>
              <div class="col-sm-8">
                <div class="form-group" [attr.state]="formControlValidate(formItem.get('domain_uuid'), 'warning')">
                  <label class="label"><span class="valid">Domain</span> <nb-icon (click)="copyFormControlValueToOthers(array, i, 'domain_uuid')" pack="eva" icon="copy-outline"></nb-icon></label>
                  <ngx-select2 [tabindex]="i*10 + 7" [data]="domainList" formControlName="domain_uuid"
                    [select2Option]="select2OptionForDoaminList">
                  </ngx-select2>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group" [attr.state]="formControlValidate(formItem.get('user_record'), 'warning')">
                  <label class="label"><span class="valid">Ghi âm</span> <nb-icon (click)="copyFormControlValueToOthers(array, i, 'user_record')" pack="eva" icon="copy-outline"></nb-icon></label>
                  <ngx-select2 [tabindex]="i*10 + 3" [data]="userRecordActionList" formControlName="user_record"
                    [select2Option]="select2OptionForUserRecordActionList">
                  </ngx-select2>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="form-group">
                  <label class="label"><span class="valid">Mô tả</span> <nb-icon (click)="copyFormControlValueToOthers(array, i, 'description')" pack="eva" icon="copy-outline"></nb-icon></label>
                  <input type="text" [tabindex]="i*10 + 8" nbInput fullWidth formControlName="description" placeholder="Mô tả">
                </div>
              </div>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="buttons-row" style="text-align: right;">
            <button nbButton status="warning" (click)="addFormGroup($event)" hero>Thêm</button>
            <button nbButton status="success" [disabled]="!form.valid || submiting" hero>Lưu</button>
            <button nbButton status="danger" [disabled]="!form.valid || this.id.length > 0 || submiting" (click)="onAutoGenrateExtensionClick(i)" hero>Tạo tự động</button>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</form>
