<nb-card class="small-header smart-table">
  <nb-card-header>
    <nav>
      <nb-icon pack="eva" icon="list-outline"></nb-icon> Danh sách số nội bộ
      <button nbButton status="success" hero size="tiny" (click)="onReloadBtnClick()" style="float: right;">
        <nb-icon pack="eva" icon="refresh-outline"></nb-icon>
      </button>
      <ngx-select2 [data]="domainList" [value]="ivoipService.activeDomainUuid" [select2Option]="select2OptionForDoaminList"
        (selectChange)="onChangeDomain($event)" style="float: right; min-width: 250px;">
      </ngx-select2>
      <!-- <nb-select size="small" [selected]="'select_domain'" (selectedChange)="onChangeDomain($event)" status="primary" style="float: right; min-width: 250px;">
        <nb-option value="select_domain">Chọn domain...</nb-option>
        <nb-option *ngFor="let domain of domainList" [value]="domain.DomainId"> {{ domain.DomainName }}</nb-option>
      </nb-select> -->
      <!-- <button nbButton status="info" hero size="tiny" (click)="onGenerateQRCodeBtnClick()" style="float: right;">
        <nb-icon pack="fa" icon="qrcode"></nb-icon>
      </button> -->
    </nav>
  </nb-card-header>

  <nb-card-body>
    <div class="ng2-smart-table-wrap">
      <ng2-smart-table [attr.select]="hasSelect" #table [settings]="settings" [source]="source"
        (delete)="delete($event)" (edit)="onEditAction($event)" (create)="onSerialAction($event)"
        (userRowSelect)="onUserRowSelect($event)" (rowSelect)="onRowSelect($event)">
      </ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>
