nb-card {
    max-width: initial !important;
    width: 75% !important;
}

.sorting-handle,
.condition-sorting-handle {
    cursor: move;
}

.dashed-radius-border {
    margin: -0.5rem; 
    padding: 0.5rem; 
    // margin-top: 1rem; 
    margin-bottom: 1.5rem;
}