<div class="dialog-wrap {{inputMode}}" #dialogWrap>
    <nb-card [nbSpinner]="loading" style="max-height: initial; margin: 0 auto; width: 92mm;" class="small-header">
        <nb-card-header>
            <ngx-card-header [option]="{controlOption: {}}" [size]="size" [icon]="favicon" [title]="''" [controls]="actionButtonList"></ngx-card-header>
        </nb-card-header>
        <nb-card-body class="print-body" #printContent>
            <div id="print-area">
                <div class="bill" *ngFor="let order of data">
                    <div class="bill-header">
                        <div class="bill-register-info">
                            <div class="bill-register-logo"><img [src]="registerInfo.voucherLogo"></div>
                            <div class="bill-register-name">{{registerInfo.companyName}}</div>
                            <div class="bill-register-tax-code" *ngIf="registerInfo.companyTaxCode">MST: {{registerInfo.companyTaxCode}}</div>
                            <div class="bill-register-email" *ngIf="registerInfo.email">Email: {{registerInfo.email}}</div>
                            <div class="bill-register-website" *ngIf="registerInfo.website">Website: {{registerInfo.website}}</div>
                            <div class="bill-register-tel" *ngIf="registerInfo.tel">ĐT: {{registerInfo.tel}}</div>
                            <div class="bill-register-address" *ngIf="registerInfo.address">ĐC: {{registerInfo.address}}</div>
                        </div>
                        <div class="bill-title">PHIẾU BÁO GIÁ</div>
                        <div class="bill-info">{{order.Code}} - {{order.DateOfSale | date:'short'}}</div>
                        <div class="barcode" style="text-align: center;">
                            <img src="{{order.BarCode}}">
                        </div>
                        <div class="bill-head-info">
                            <div class="bill-object-name">Khách hàng: {{order.ObjectName || ''}}</div>
                            <div class="bill-object-phone">Số điện thoại: {{order.ObjectPhone || ''}}</div>
                            <div class="bill-object-address">Địa chỉ: {{order.ObjectAddress || ''}}</div>
                            <div class="bill-object-email">Email: {{order.ObjectEmail || ''}}</div>
                        </div>
                    </div>
                    <div class="bill-body">
                        <table style="width: 100%;" border="0" cellPadding="2">
                            <thead>
                                <td>Hàng hóa</td>
                                <td style="text-align: right;">Đ.Giá x SL</td>
                                <td style="text-align: right;">Thành tiền</td>
                            </thead>
                            <tr *ngFor="let detail of order.Details">
                                <td>
                                    <div>{{detail.Description}} - SKU:{{detail.Sku}}</div>
                                    <div *ngIf="detail.AccessNumbers">Số truy xuất:{{detail.AccessNumbers}}</div>
                                </td>
                                <td style="text-align: right">
                                    <div class="bill-price">{{detail.Price | currency:'VND'}}</div>
                                    <div class="bill-quantity" style="white-space: nowrap;">x {{detail.Quantity | number}} {{detail.Unit | objecttext}}</div>
                                </td>
                                <td style="text-align: right; white-space: nowrap;">
                                    <div class="bill-tomoney">{{detail.ToMoney | currency:'VND'}}</div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" style="text-align: right; font-weight: bold;">Tổng cộng: {{order.Total | currency:'VND'}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="bill-footer" style="text-align: center;">
                        <div style="font-style: italic">Quý khách đưa lại phiếu này trong trường hợp đổi trả hàng hóa !</div>
                        <div style="font-style: italic">Xin cảm ơn và hẹn gặp lại</div>
                        <div>Phiếu được in từ phần mềm<br>ProBox One - Phần mềm quản trị cộng tác viên chuyên sâu.</div>
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <div class="buttons-row">
                <!-- <button nbButton hero status="danger" (click)="close()">
                    <nb-icon pack="eva" icon="close"></nb-icon>
                </button> -->
                <button #paymentBtn nbButton hero *ngIf="data[0].State != 'APPROVED'" status="success" (click)="payment(0)">
                    <nb-icon pack="eva" icon="flash"></nb-icon>{{'Enter để thanh toán và in bill' | translate | headtitlecase}}
                </button>
                <button #printBtn nbButton hero *ngIf="data[0].State == 'APPROVED'" status="primary" (click)="print(0)">
                    <nb-icon pack="eva" icon="printer-outline"></nb-icon>{{'In lại bill' | translate | headtitlecase}}
                </button>
            </div>
        </nb-card-footer>
    </nb-card>
</div>