<nb-card class="list-card" size="small">
    <nb-list class="scrollable-container">
        <nb-list-item *ngFor="let item of items" (click)="onClickNotification(item)">
            <!-- <nb-user [name]="item.Sender?.text" [title]="item.Content" [picture]="item.Sender?.avatar" [onlyPicture]="false"></nb-user> -->
            <user class="size-medium">
                <div class="user-container">
                    <div class="user-picture image" [ngStyle]="{backgroundImage: 'url('+item.Sender?.avatar+')'}">
                        <!-- <nb-badge *ngIf="badgeText" [text]="badgeText" [status]="badgeStatus" [position]="badgePosition"></nb-badge> -->
                    </div>
                    <!-- <div *ngIf="!imageBackgroundStyle" class="user-picture initials" [style.background-color]="color">
                    <ng-container *ngIf="showInitials">
                        {{ getInitials() }}
                    </ng-container>
                    <nb-badge *ngIf="badgeText" [text]="badgeText" [status]="badgeStatus" [position]="badgePosition"></nb-badge>
                </div> -->

                    <div class="info-container">
                        <div class="user-name">{{ item.Sender?.text }}</div>
                        <div class="user-title">{{ item.Content }}</div>
                        <div class="user-title" style="font-size: 11px;">{{ item.DateOfCreate | date: 'short' }}</div>
                    </div>
                </div>
            </user>
        </nb-list-item>
    </nb-list>
</nb-card>