@import "../../../../../assets/style/print.css";


@media print {
  body {
    background: #fff !important;
  }
  #print-area {
    page-break-after: initial;
  }
}
.label {
  /* padding: 5px; */
  border: 1px #000 dashed;
  float: left;
  page-break-after:always;
  width: 50mm;
  height: 30mm;
  padding: 1mm;
  padding-top: 2mm;
  color: #000;

}
.label .info {
  clear: both;
  height: 13mm;
  overflow: hidden;
}
.label .find-order {
  font-weight: bold !important;
  font-size: 55px !important;
  line-height: 12mm;
}
.bar-code {
  padding: 1px;
  border: 1px #000 solid;
  border-radius: 5px;
  margin-right: 1mm;
  height: 12mm;
}
.page-break {
  clear: left;
  display:block;
  page-break-after:always;
}